/*********************************************
*
* Global Reset
*
*********************************************/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-weight: 300; }

.logo {
  display: block;
  height: 50px;
  width: 50px; }

.header,
.main,
.footer {
  margin-left: auto;
  margin-right: auto;
  width: 80%; }

.header {
  display: flex;
  padding-top: 3rem; }
  .header__logo-box {
    display: flex; }

.about,
.features,
.pricing {
  height: 300px; }

.about {
  background-color: orange; }

.features {
  background-color: blue; }

.pricing {
  background-color: aqua; }
