@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?diezds");
  src: url("fonts/icomoon.eot?diezds#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?diezds") format("truetype"), url("fonts/icomoon.woff?diezds") format("woff"), url("fonts/icomoon.svg?diezds#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-envelop::before {
  content: "\e945"; }

.icon-compass::before {
  content: "\e949"; }

/*********************************************
*
* Global Reset
*
*********************************************/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-weight: 400; }

.btn {
  border: none;
  border-radius: 10px;
  line-height: 1.5;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px; }

.nav {
  align-self: flex-end; }
  .nav--item {
    border-radius: 5px;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 5px 10px; }
    .nav--item:not(:last-child) {
      margin-right: 1rem; }
    .nav--item .nav-link {
      text-decoration: none; }
  .nav .nav-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none; }

.logo {
  display: block; }

body {
  background-color: #868686;
  background: linear-gradient(to bottom, lightgray, #3a3a3a); }

.main {
  margin-left: auto;
  margin-right: auto;
  width: 80%; }

.header {
  background-color: #868686;
  box-shadow: 0 2px 5px #443d3d;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 10%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }
  .header__logo-box {
    display: flex;
    flex-wrap: wrap; }
    .header__logo-box--img {
      height: 86px;
      width: 80px; }
    .header__logo-box--name {
      align-self: flex-end;
      font-size: 2.5rem;
      font-weight: 700;
      padding-left: 5px;
      text-transform: uppercase; }
      .header__logo-box--name .link:link, .header__logo-box--name .link:visited {
        color: #000;
        display: inline-block;
        text-decoration: none; }
      .header__logo-box--name .link:hover {
        color: #4d4d4d; }
      .header__logo-box--name .link:active {
        color: #666666; }
  .header__nav--item {
    color: #000; }
    .header__nav--item:hover {
      background-color: #000;
      color: #eee; }
    .header__nav--item .nav-link {
      color: inherit; }

.form {
  font-size: 2.5rem;
  width: 60%;
  margin: 3rem auto; }
  .form-field {
    display: flex; }
    .form-field__email, .form-field__btn {
      flex: 1;
      font-size: inherit;
      padding: 5px; }
    .form-field__btn {
      background-color: #3d3d44;
      border: 2px solid #3d3d44;
      box-shadow: 0 0 10px #d5d5d5;
      color: #eee;
      margin-top: 2rem;
      transition: all .2s; }
      .form-field__btn > span {
        font-size: inherit; }
      .form-field__btn > span:nth-child(2) {
        margin-left: 1rem; }
      .form-field__btn:focus {
        transform: translateY(2px);
        outline: none; }
      .form-field__btn:hover {
        background-color: #373131;
        border: 2px solid #373131; }
    .form-field__email {
      border: 3px solid #443d3d;
      border-radius: 0 10px 10px 0;
      padding-left: 2rem; }
      .form-field__email:hover::placeholder {
        color: #948686; }
      .form-field__email:focus {
        outline: none; }
    .form-field .label-for-email {
      background-color: #3d3d44;
      border-radius: 10px 0 0 10px;
      color: #eee;
      padding: 5px 2rem;
      display: flex; }
      .form-field .label-for-email::before {
        color: inherit;
        font-size: inherit;
        margin: auto; }

.footer {
  background-color: #000;
  color: #eee;
  font-size: 3rem;
  padding: 2rem 10% 5rem 10%;
  display: flex;
  flex-direction: column; }
  .footer__logo-box {
    align-self: center;
    margin-bottom: 5rem; }
    .footer__logo-box--img {
      height: 150px;
      width: 120px; }
  .footer__content-box {
    display: flex;
    justify-content: space-between; }
  .footer__nav--item {
    color: #eee; }
    .footer__nav--item:hover {
      background-color: #eee;
      color: #222; }
    .footer__nav--item .nav-link {
      color: inherit; }

.about .title {
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 2.5rem;
  text-indent: 2.5rem;
  margin-top: 12rem; }

.about .sub-title {
  font-size: 3rem;
  letter-spacing: .3rem;
  text-indent: .3rem;
  margin-top: 1rem; }

.about .title, .about .sub-title {
  color: #eee;
  text-align: center;
  text-shadow: 0 0 5px #000;
  text-transform: uppercase; }

.about .video {
  background-color: #605454;
  background: linear-gradient(to right, #a0a0a0, #000, #a0a0a0);
  margin: 2rem 0;
  width: 100%; }
  .about .video__content {
    display: block;
    margin: 0 auto;
    width: 70%; }

.features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70vh;
  margin: 5rem 0;
  padding-top: 10rem; }
  .features__redish-grey, .features__greenish-grey, .features__bluish-grey {
    background-color: #868686;
    border-radius: 5px;
    box-shadow: 0 0 10x #000;
    color: #eee;
    text-shadow: 0 0 5px #000;
    height: 100%;
    max-width: 30%;
    flex: 1;
    display: flex;
    flex-direction: column;
    transition: transform .2s; }
    .features__redish-grey:hover, .features__redish-grey:active, .features__greenish-grey:hover, .features__greenish-grey:active, .features__bluish-grey:hover, .features__bluish-grey:active {
      transform: scale(1.05); }
    .features__redish-grey .feature-title, .features__greenish-grey .feature-title, .features__bluish-grey .feature-title {
      font-size: 2.5rem;
      line-height: 2;
      text-align: center;
      text-transform: uppercase; }
    .features__redish-grey .feature, .features__greenish-grey .feature, .features__bluish-grey .feature {
      height: 100%;
      width: 100%; }
  .features__redish-grey {
    background: linear-gradient(to right bottom, #948686, #0e0d0d); }
  .features__greenish-grey {
    background: linear-gradient(to right bottom, #869486, #0d0e0d); }
  .features__bluish-grey {
    background: linear-gradient(to right bottom, #868694, #0d0d0e); }

.pricing {
  height: 300px;
  background-color: aqua; }
