.footer {
    background-color: $color-black;
    color: $color-white;
    font-size: 3rem;
    padding: 2rem 10% 5rem 10%;
    display: flex;
    flex-direction: column;

    &__logo-box {
        align-self: center;
        margin-bottom: 5rem;

        &--img {
            height: 150px;
            width: 120px;
        }
        
    }

    &__content-box {
        display: flex;
        justify-content: space-between;
    }

    &__nav {

        &--item {
            color: #eee;
            transition: all .2s;

            &:hover {
                background-color: #eee;
                color: #222;
            }

            .nav-link {
                color: inherit;
            }
        }
    }

    &__copy {
        font-size: 2rem;
    }
}