.form {
    font-size: 2.5rem;
    width: 60%;
    margin: 3rem auto;

    &-field {
        display: flex;

        &:hover &__email {
            border-color: darken($color-redish-grey, 35);
        
            &--label {
                background-color: darken($color-redish-grey, 35);
            }
        }

        &__email,
        &__btn {
            flex: 1;
            font-size: inherit;
            padding: 5px;
        }

        &__btn {
            background-color: darken($color-bluish-grey, 30);
            box-shadow: 0 0 5px $color-black;
            color: $color-white;
            margin-top: 2rem;
            transition: all .2s;

            &:focus {
                transform: translateY(2px);
            }

            &:hover {
                background-color: darken($color-redish-grey, 35);
                box-shadow: 0 0 15px $color-redish-grey;
            }
        }

        &__email {
            border: 3px solid darken($color-bluish-grey, 30);
            border-radius: 0 $border-radius-squared $border-radius-squared 0;
            padding-left: 2rem;

            &:hover {
                border-color: darken($color-bluish-grey, 35);

                &::placeholder {
                    color: $color-redish-grey;
                }
            }

            &:focus {
                outline: none;
            }
            
            &--label {
                background-color: darken($color-bluish-grey, 30);
                border-radius: $border-radius-squared 0 0 $border-radius-squared;
                color: $color-white;
                padding: 5px 2rem;
                display: flex;

                &::before {
                    color: inherit;
                    font-size: inherit;
                    margin: auto;
                }
            }
        }
    }
}