.form {
    font-size: 2.5rem;
    width: 60%;
    margin: 2rem auto;

    @include respond(phone) {
        font-size: 2rem;
    }

    @include respond(tablet-port) {
        width: 100%;
    }

    &-field {
        display: flex;

        &:hover &__email {
            border-color: darken($color-bluish-grey, 40);
            &::placeholder {
                color: $color-redish-grey;
            }
        
            &--label {
                background-color: darken($color-bluish-grey, 40);
            }
        }

        &__email,
        &__btn {
            flex: 1;
            font-size: inherit;
            padding: 5px;
        }

        &__btn {
            background-color: darken($color-bluish-grey, 35);
            box-shadow: 0 0 5px $color-bluish-grey;
            color: $color-white;
            margin-top: 2rem;
            transition: all .2s;
            flex: 1 1 auto;

            &:focus {
                transform: translateY(2px);
            }

            &:hover {
                background-color: darken($color-bluish-grey, 40);
            }
        }

        &__email {
            border: 3px solid darken($color-bluish-grey, 35);
            border-radius: 0 $border-radius-squared $border-radius-squared 0;
            text-align: center;

            &:focus {
                outline: none;
            }
            
            &--label {
                background-color: darken($color-bluish-grey, 35);
                border-radius: $border-radius-squared 0 0 $border-radius-squared;
                color: $color-white;
                padding: 5px 2rem;
                display: flex;

                &::before {
                    color: inherit;
                    font-size: inherit;
                    margin: auto;
                }
            }
        }
    }
}