body {
    background-color: $color-grey;
    background: linear-gradient(to bottom, lighten($color-grey, 30), $color-grey, darken($color-grey, 30));
}

.main {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

