.btn {
    border: none;
    border-radius: 10px;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;

    &:focus {
            outline: none;
        }

    &__features {
        background-color: darken($color-grey, 30);
        box-shadow: 0 0 5px $color-grey;
        font-size: 3rem;
        margin: 5rem auto;        
        text-align: center;
        text-shadow: 0 0 3px $color-black;
        width: 70%;
    }
}