.nav {
    align-self: flex-end;

    &--item {
        border-radius: 5px;
        font-size: 2rem;
        text-transform: uppercase;
        padding: 10px;
        &:not(:last-child) {
            margin-right: 2rem;
        }

        & .nav-link {
            text-decoration: none;
        }
    }

    .nav-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        list-style: none;
    }
}