.title {
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 2.5rem;
    text-indent: 2.5rem;
    margin-top: 18rem;
}

.sub-title {
    font-size: 3rem;
    letter-spacing: .3rem;
    text-indent: .3rem;
    margin-top: 2rem;
}

.title, .sub-title {
    color: $color-white;
    text-align: center;
    text-shadow: 0 0 10px darken($color-grey, 20);
    text-transform: uppercase;
}



.video {
    background-color: darken($color-redish-grey, 20);
    border-radius: 5px;
    margin: 5rem 0;
    width: 100%;

    &__content {
        display: block;
        margin: 0 auto;
        width: 70%;
    }
}

.form {
    font-size: 2.5rem;
    width: 50%;
    margin: 3rem auto;

    &-field {
        display: flex;

        &__email,
        &__btn {
            flex: 1;
            font-size: inherit;
            padding: 5px;
        }

        &__btn {
            background-color: darken($color-bluish-grey, 30);
            box-shadow: 0 0 5px $color-bluish-grey;
            color: $color-white;
            margin-top: 2rem;

            &:focus {
                transform: translateY(-3px);
                outline: none;
            }

            &:hover {
            box-shadow: 0 0 15px darken($color-bluish-grey, 30);
            }
        }

        &__email {
            border: 2px solid darken($color-redish-grey, 30);
            border-radius: 0 10px 10px 0;
            padding-left: 2rem;

            &:focus {
                outline: none;
            }
        }

        .label-for-email {
            background-color: darken($color-redish-grey, 30);
            border-radius: 10px 0 0 10px;
            color: $color-white;
            padding: 5px 2rem;
        }
    }
}

.about,
.features,
.pricing {
    height: 300px;
}

.about {
    background-color: orange;
}

.features {
    background-color: blue;
}

.pricing {
    background-color: aqua;
}
